---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Button from "@components/Button.astro";
import notFound from "@assets/images/404.svg"
import Main from "@layouts/Main.astro";
import { Card } from "@components/Card";

---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header />

  <Main>
    <section class="flex flex-col justify-center">
      <Card className="wx-auto flex flex-col justify-center gap-16 items-center p-16">
        <img class="w-full" src={notFound.src}/>
        <Button
          href="/"
          title="Go back home"
        />
      </Card>
    </section> 
  </Main>
  
  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto flex max-w-3xl flex-1 items-center justify-center;
  }
  .not-found-wrapper {
    @apply mb-14 flex flex-col gap-6 items-center justify-center;
  }
  .not-found-wrapper h1 {
    @apply text-9xl font-bold text-skin-title;
  }
  .not-found-wrapper p {
    @apply text-2xl sm:text-3xl;
  }
</style>
