---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@config";
import Main from "@layouts/Main.astro";

---

<Layout>
  <Header />
  <Main>
    <section class="intro">
      <img
        class="portrait"
        src="/assets/portrait.jpg"
        alt={SITE.author}
        width="160px"
        height="160px"
      />
      <div class="content">
        <h1 class="title">Hi, I'm Romane</h1>
        <p class="description">
          I'm a Product Manager 
          <br/>
          and here's my portfolio
        </p>
      </div>
    </section>
  </Main>


  <Footer />
</Layout>

<style>
  .intro {
    @apply mt-10 flex flex-row justify-center items-center gap-12
  }
  .intro .content {
    @apply flex flex-col gap-4
  }
  .portrait {
    @apply rounded-full
  }
  .title {
    @apply font-playfair text-3xl text-skin-heading
  }
  .description {
    @apply text-skin-title text-lg
  }
</style>