---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@config";
import Main from "@layouts/Main.astro";
import { Card } from "@components/Card";
import portrait from '../assets/images/portrait.jpg'
import { getCollection } from "astro:content";
import Overview from "@components/Overview.astro";
import Divider from "@components/Divider.astro";

const data = (await getCollection('overview', (item) => item.data.page === "home"))
  .sort((a,b) => a.data.order - b.data.order > 0 ? 1 : -1)  

---

<Layout>
  <Header />
  <Main>
    <section class="intro">
      <img
        class="portrait"
        src={portrait.src}
        alt={SITE.author}
        width="160px"
        height="160px"
      />
      <div class="content">
        <h1 class="title">Hi, I'm Romane</h1>
        <p class="description">
          I'm a Product Manager 
          <br/>
          and here's my portfolio
        </p>
      </div>
    </section>
    <section class="flex justify-center">
      <Card className="sm:py-10 sm:px-20">
        {
          data.map((item, idx) => (
            <>
              <Overview content={item} />
              {
                idx < data.length - 1 && 
                <Divider/>
              }
            </>
          ))
        }
      </Card>
    </section>
  </Main>


  <Footer />
</Layout>

<style>
  .intro {
    @apply mb-10 flex flex-row flex-wrap justify-center items-center gap-12
  }
  .intro .content {
    @apply flex flex-col gap-4
  }
  .portrait {
    @apply rounded-full
  }
  .title {
    @apply font-playfair text-3xl text-skin-heading
  }
  .description {
    @apply text-skin-title text-lg
  }
</style>